/*
 * Coinsex design by AlexLe
 * Version: CX_A 1.0.0
 *
 *
 * Copyright:  Coinsex design by AlexLe
 * thanhtruong070388@gmail.com
 */
.bg-primary {
  background-color: purple !important; }

.bg-secondary {
  background-color: #F0D64E !important; }

.bg-footer {
  background-color: #F0D550 !important; }

.bg-light {
  background-color: #f1f1f1 !important; }

@font-face {
  font-family: "Open Sans";
  src: local(Open Sans Light), url("../fonts/open-sans/OpenSansLight.eot");
  src: url("../fonts/open-sans/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSansLight.woff2") format("woff2"), url("../fonts/open-sans/OpenSansLight.woff") format("woff"), url("../fonts/open-sans/OpenSansLight.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Open Sans";
  src: local(Open Sans Regular), url("../fonts/open-sans/OpenSansRegular.eot");
  src: url("../fonts/open-sans/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSansRegular.woff2") format("woff2"), url("../fonts/open-sans/OpenSansRegular.woff") format("woff"), url("../fonts/open-sans/OpenSansRegular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans/OpenSansSemiBold.eot");
  src: url("../fonts/open-sans/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSansSemiBold.woff2") format("woff2"), url("../fonts/open-sans/OpenSansSemiBold.woff") format("woff"), url("../fonts/open-sans/OpenSansSemiBold.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans/OpenSansBold.eot");
  src: url("../fonts/open-sans/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSansBold.woff2") format("woff2"), url("../fonts/open-sans/OpenSansBold.woff") format("woff"), url("../fonts/open-sans/OpenSansBold.ttf") format("truetype");
  font-weight: 700; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #000; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300; }

.navbar {
  padding: 0; }

.navbar-brand {
  min-width: 205px;
  padding: 45px;
  background-image: url("../assets/logo-en-US-.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.navbar-light .navbar-nav {
  padding-bottom: 1em; }
  .navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    padding: .75em .5em;
    position: relative; }
    .navbar-light .navbar-nav .nav-link:hover {
      color: #000; }
      .navbar-light .navbar-nav .nav-link:hover:before {
        transform: scaleX(1);
        opacity: 1;
        transition: all .3s ease; }
      .navbar-light .navbar-nav .nav-link:hover span {
        color: #fff;
        transition: all .2s ease;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
    .navbar-light .navbar-nav .nav-link:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #1ABC90;
      top: 0;
      left: 0;
      transform: scaleX(0);
      opacity: 0;
      transform-origin: left top;
      transition: all .2s ease; }
    @media screen and (min-width: 992px) {
      .navbar-light .navbar-nav .nav-link:before {
        transform-origin: center top; } }
    .navbar-light .navbar-nav .nav-link span {
      position: relative;
      display: inline-block;
      text-align: center; }
  @media screen and (min-width: 1200px) {
    .navbar-light .navbar-nav .nav-link {
      padding: .75em 1em; } }

.dropdown-toggle:after {
  z-index: 1000;
  position: relative; }

.dropdown-toggle:hover:after {
  border-top-color: #fff; }

.dropdown-item {
  text-transform: uppercase; }

.select-lang {
  padding-left: .5em;
  padding-top: .5em; }
  .select-lang .btn {
    border-color: #ccc;
    background-color: #fff;
    color: #000;
    border-radius: 0; }
  .select-lang .dropdown-toggle:hover:after {
    border-top-color: #000; }

@media screen and (min-width: 992px) {
  .select-lang {
    padding-top: .5em; }
    .select-lang .dropdown-menu {
      left: .5em; }
  .bg-light .navbar-nav {
    padding-bottom: 0; } }

.dropdown-menu {
  color: #fff;
  border: 1px solid purple;
  background-color: purple;
  border-radius: 0; }

.dropdown-item {
  color: #fff; }
  .dropdown-item:hover {
    color: #fff;
    background-color: #1ABC90; }
