/*
 * Coinsex design by AlexLe
 * Version: CX_A 1.0.0
 *
 *
 * Copyright:  Coinsex design by AlexLe
 * thanhtruong070388@gmail.com
 */
.bg-primary {
  background-color: purple !important; }

.bg-secondary {
  background-color: #fbc02d !important; }

.bg-footer {
  background-color: #F9B81F !important; }

.bg-light {
  background-color: #fff !important; }

.text-blue {
  color: #033C93 !important; }

.text-ocean {
  color: #36c6d3 !important; }

.text-red {
  color: #FF2A00 !important; }

.text-yellow {
  color: #fbc02d !important; }

.text-cyan {
  color: #1E9FF2 !important; }

.text-green {
  color: #1ABC90 !important; }

.text-grey {
  color: #737373 !important; }

.link-withdraw {
  color: #FF2A00 !important; }

.link-deposit {
  color: #1ABC90 !important; }

@font-face {
  font-family: "Open Sans";
  src: local(Open Sans Light), url("../fonts/open-sans/OpenSansLight.eot");
  src: url("../fonts/open-sans/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSansLight.woff2") format("woff2"), url("../fonts/open-sans/OpenSansLight.woff") format("woff"), url("../fonts/open-sans/OpenSansLight.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Open Sans";
  src: local(Open Sans Regular), url("../fonts/open-sans/OpenSansRegular.eot");
  src: url("../fonts/open-sans/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSansRegular.woff2") format("woff2"), url("../fonts/open-sans/OpenSansRegular.woff") format("woff"), url("../fonts/open-sans/OpenSansRegular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans/OpenSansSemiBold.eot");
  src: url("../fonts/open-sans/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSansSemiBold.woff2") format("woff2"), url("../fonts/open-sans/OpenSansSemiBold.woff") format("woff"), url("../fonts/open-sans/OpenSansSemiBold.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans/OpenSansBold.eot");
  src: url("../fonts/open-sans/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSansBold.woff2") format("woff2"), url("../fonts/open-sans/OpenSansBold.woff") format("woff"), url("../fonts/open-sans/OpenSansBold.ttf") format("truetype");
  font-weight: 700; }

html, body, button, input, select {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 12px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300; }

.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
  font-weight: 400; }

.font-bold,
b {
  font-weight: 500; }

@media (min-width: 768px) {
  html, body, button, input, select {
    font-size: 14px; } }

@media (min-width: 992px) {
  html, body, button, input, select {
    font-size: 16px; } }

.btn {
  border-radius: 2px;
  padding: .5em 1em;
  min-width: 100px; }

.btn-sell,
.btn-buy,
.btn-dark,
.btn-confirm,
.cancel {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }

.btn-buy {
  background-color: #fbc02d;
  color: #fff !important; }
  .btn-buy:hover {
    background-color: #fbc846;
    box-shadow: 0 0 9px 2px rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 9px 2px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0 9px 2px rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

.btn-sell {
  background-color: #005249;
  color: #fff !important; }
  .btn-sell:hover {
    background-color: #006c60;
    box-shadow: 0 0 9px 2px rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 9px 2px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0 9px 2px rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

.btn-dark {
  padding: .375em 1em;
  background-color: #033C93;
  border-color: #033C93; }
  .btn-dark:hover {
    background-color: #0342a2; }

.btn-cancel {
  padding: .375em 1em;
  background-color: #fff;
  border: 2px solid #ff3547;
  color: #ff3547; }
  .btn-cancel:hover {
    color: #ff3547 #033C93, 5%;
    border-color: #ff3547 #033C93, 5%; }

.btn-copy {
  padding: .375em 1em; }

.btn-confirm {
  padding: .375em 1em;
  background-color: #fbc02d;
  color: #fff; }
  .btn-confirm:hover {
    background-color: #fbc53c; }

.btn-danger {
  color: #fff !important; }

.btn-order {
  padding: .375em 1em;
  background-color: #ffa000;
  font-weight: 500;
  color: #fff; }
  .btn-order:hover {
    background-color: #ffab1f; }

.btn-del {
  cursor: pointer;
  color: #FF2A00;
  text-align: center;
  display: block;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }
  .btn-del:hover {
    color: #b31d00; }

.btn-link {
  color: #36c6d3;
  font-weight: 500; }
  .btn-link:hover, .btn-link:visited, .btn-link:focus, .btn-link:active {
    color: #1E9FF2; }
  .btn-link:hover, .btn-link:visited, .btn-link:focus, .btn-link:active {
    text-decoration: none; }

.form-control {
  border-radius: 0; }

.nav-tabs {
  border-bottom-color: purple; }
  .nav-tabs .nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #ededed;
    color: #000;
    position: relative;
    margin-right: 2px;
    top: 1px;
    border-bottom-color: purple;
    font-weight: 500; }
    .nav-tabs .nav-link.active {
      border-color: purple purple #fff;
      color: #000; }
      .nav-tabs .nav-link.active:hover {
        border-color: purple purple #fff; }
      .nav-tabs .nav-link.active:before {
        content: '';
        position: absolute;
        height: 4px;
        background-color: purple;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px); }
    .nav-tabs .nav-link:hover {
      border-color: #ededed;
      border-bottom-color: purple;
      background-color: lignten(#ededed, 3%); }
  .nav-tabs .nav-item {
    margin-bottom: 0; }

.tab-content {
  position: relative; }
  .tab-content:after {
    content: '';
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: purple;
    position: absolute; }

.tab-pane {
  border-color: purple;
  border-style: solid;
  border-width: 0 1px 1px; }

.table-plugin th, .table-plugin td {
  border: 1px solid #ededed;
  font-size: 12px; }

.table-plugin th {
  border-bottom: 0; }

.table-plugin .btn-danger {
  font-size: 12px; }

.tab-pane .page-item {
  font-size: 12px; }

@media (min-width: 768px) {
  .table-plugin th, .table-plugin td, .table-plugin .btn-danger {
    font-size: 14px; }
  .tab-pane .page-item {
    font-size: 14px; } }

@media (min-width: 992px) {
  .table-plugin th, .table-plugin td, .table-plugin .btn-danger {
    font-size: 16px; }
  .tab-pane .page-item {
    font-size: 16px; } }

.fa-download {
  cursor: pointer; }

.info {
  padding-left: -15px;
  padding-right: -15px; }
  .info_header {
    color: #fff;
    background-color: #40A2C2; }
    .info_header h6 {
      font-weight: 500; }
  .info_content {
    background-color: #E6F4F1; }
  .info h6, .info .name, .info .value {
    padding-top: .6em;
    padding-bottom: .6em; }
  .info .name {
    padding-left: 1em;
    position: relative; }
    .info .name:before {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -0.3em;
      left: 0;
      border-width: .3em 0 .3em .3em;
      border-style: solid;
      border-color: transparent #4F7C84; }

@media (max-width: 767px) {
  .info_content .col-6 {
    padding-right: 0; } }

.form_header {
  background-color: #fbc02d;
  color: #fff; }
  .form_header h5 {
    padding-top: .6em;
    padding-bottom: .6em;
    font-weight: 500; }

.form_content {
  background-color: #ededed; }

#frmSellNow .form_header {
  background-color: #033C93;
  color: #fff; }

.list-group-item {
  padding: .5em 1.25em; }
  .list-group-item span {
    flex: 1; }
  .list-group-item:hover {
    background-color: #ededed; }

.main-sidebar {
  min-height: 100vh;
  background-color: #252525;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  max-width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #a1a1a1; }
  .main-sidebar .toggle {
    display: none;
    position: absolute;
    padding: .25em .5em;
    background-color: #252525;
    color: #fff;
    left: 100%;
    top: 95px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    z-index: 1080; }

.user_alias {
  color: #fbae1c;
  border-bottom: 1px dotted #999; }

.user_avatar {
  margin-top: 100px; }
  .user_avatar img {
    width: 100%;
    max-width: 35%;
    height: auto;
    margin: 0 auto;
    display: block;
    border: 1px solid rgba(120, 130, 140, 0.13);
    padding: 5px; }

.user .icon {
  color: #a1a1a1;
  padding: .5em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 0 1em; }

.user .link-arrow {
  display: block;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  color: #a1a1a1; }
  .user .link-arrow:hover {
    color: #fbae1c;
    text-decoration: none; }

@media (max-width: 768px) {
  .main-sidebar {
    max-width: 70px; }
  .link-arrow {
    position: relative;
    text-align: center; }
    .link-arrow span {
      position: absolute;
      left: 100%;
      top: 0;
      display: block;
      height: 100%;
      white-space: nowrap;
      background-color: rgba(0, 0, 0, 0.6);
      display: flex;
      align-items: center;
      min-width: 100px;
      padding-left: .75em;
      opacity: 0;
      transform: translateX(-100%);
      z-index: 1010; }
    .link-arrow:hover span {
      animation: slide .5s ease forwards; }
  .user_avatar img {
    max-width: 90%; }
  .user .icon {
    padding: 0.75em;
    font-size: 1.2em;
    margin: 0; } }

.rounded-circle {
  border-radius: 50%; }

.content-wrapper {
  margin-left: 230px; }

@media (max-width: 768px) {
  .content-wrapper {
    margin-left: 70px; } }

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-100%); }
  60% {
    opacity: 0; }
  to {
    opacity: 1;
    transform: translateX(0); } }

@media (max-width: 575px) {
  .main-sidebar {
    transform: translateX(-100%);
    z-index: 1000;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; }
    .main-sidebar .toggle {
      display: block; }
    .main-sidebar.open {
      transform: translateX(0); }
  .content-wrapper {
    margin-left: 0; } }

.modal-success .modal-header {
  background-color: #1ABC90;
  color: #fff; }
  .modal-success .modal-header .modal-title {
    font-weight: 500; }

.modal-error .modal-header {
  background-color: #ff3547;
  color: #fff; }
  .modal-error .modal-header .modal-title {
    font-weight: 500; }

.modal-content {
  border: 0; }

.modal-footer {
  border-top: 0; }

.modal-register .modal-header {
  background-color: #40A2C2;
  color: #fff; }

.modal-register .btn-confirm {
  background-color: #4F7C84;
  border: 2px solid #4F7C84; }
  .modal-register .btn-confirm:hover {
    border: 2px solid #4F7C84;
    background-color: transparent;
    color: #4F7C84; }

@media (min-width: 576px) {
  .modal-register .modal-dialog {
    width: 80%;
    max-width: 980px; } }

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-bottom: 0; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.switch-wrapper {
  line-height: 10px; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

.slider.round {
  border-radius: 24px; }

.slider.round:before {
  border-radius: 50%; }

input:checked + .slider {
  background-color: #1ABC90; }

input:focus + .slider {
  box-shadow: 0 0 1px #1ABC90; }

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px); }

.card {
  border-radius: 0; }
  .card-header {
    border-bottom: 0;
    padding: .35rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.015); }
  .card a {
    font-weight: 400; }

.dataTables_wrapper {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }
  .dataTables_wrapper .dataTables_scrollHeadInner {
    width: 100% !important; }
  .dataTables_wrapper .dataTable {
    width: 100% !important;
    border-collapse: collapse; }
    .dataTables_wrapper .dataTable .sorting_disabled {
      cursor: default; }
    .dataTables_wrapper .dataTable th {
      background-color: #ccc; }
    .dataTables_wrapper .dataTable td, .dataTables_wrapper .dataTable th {
      border-bottom: 1px solid #ededed;
      padding: 0.5em;
      transition: all .3s ease; }
      .dataTables_wrapper .dataTable td:not(:first-child), .dataTables_wrapper .dataTable th:not(:first-child) {
        text-align: right; }
    .dataTables_wrapper .dataTable td img {
      max-width: 24px;
      max-height: 24px;
      margin-top: -3px; }
    .dataTables_wrapper .dataTable tr:hover td {
      background-color: #f5f5f5; }

@media (max-width: 767px) {
  .devine {
    display: none; } }

.link-deposit,
.link-withdraw {
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  transition: all .3s ease; }
  .link-deposit:hover,
  .link-withdraw:hover {
    text-decoration: none;
    transform: scale(1.05); }

@media (max-width: 575px) {
  .balance-info-wrapper .row {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .balance-info-wrapper .dataTables_wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .balance-info-wrapper .col-sm-12 {
    padding-left: 3px !important;
    padding-right: 3px !important; }
  .dataTables_wrapper .dataTable td, .dataTables_wrapper .dataTable th {
    padding: 0.25em;
    transition: all .3s ease; } }

.page-item.active .page-link {
  background-color: #033C93;
  border-color: #033C93; }
  .page-item.active .page-link:focus {
    background-color: #033C93 !important;
    border-color: #033C93 !important; }

.page-item .page-link {
  color: #000;
  transition: all .3s ease; }

html, body, .wrapper {
  height: 100%; }

.wrapper {
  display: flex;
  flex-direction: column; }

.main-content {
  flex: 1; }

@media (max-width: 575px) {
  .px-xs-0 {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

@media (max-width: 767px) {
  .px-sm-0 {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

.px-15 {
  padding-left: 15px;
  padding-right: 15px; }

.img-small {
  max-width: 225px; }

.border {
  border: 1px solid #ced4da !important; }

.info-wrapper {
  border-radius: 4px;
  background: linear-gradient(-135deg, #95B0B5 50%, #4F7C84); }

.max-300 {
  max-width: 300px; }

.text-shadow {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: 600 !important; }

a:visited,
a:link {
  text-decoration: none;
  color: #36c6d3; }

a:hover,
a:focus {
  text-decoration: none;
  color: #4F7C84; }

.navbar {
  padding: 0;
  z-index: 1010;
  border-bottom: 2px solid #ffa000; }

.navbar-brand {
  min-width: 205px;
  padding: 45px;
  background-image: url("../assets/logo_new_en.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.navbar-light .navbar-nav {
  padding-bottom: 1em; }
  .navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    padding: .75em .5em;
    position: relative; }
    .navbar-light .navbar-nav .nav-link:hover {
      color: #000; }
      .navbar-light .navbar-nav .nav-link:hover:before {
        transform: scaleX(1);
        opacity: 1;
        transition: all .3s ease; }
      .navbar-light .navbar-nav .nav-link:hover span {
        color: #fff;
        transition: all .2s ease;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }
    .navbar-light .navbar-nav .nav-link:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #1ABC90;
      top: 0;
      left: 0;
      transform: scaleX(0);
      opacity: 0;
      transform-origin: left top;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease; }
    @media screen and (min-width: 992px) {
      .navbar-light .navbar-nav .nav-link:before {
        transform-origin: center top; } }
    .navbar-light .navbar-nav .nav-link span {
      position: relative;
      display: inline-block;
      text-align: center; }
  @media (min-width: 768px) {
    .navbar-light .navbar-nav .nav-link {
      font-size: 16px; } }
  @media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link {
      font-size: 18px; } }
  .navbar-light .navbar-nav .active .nav-link:before {
    transform: scaleX(1);
    opacity: 1; }
  .navbar-light .navbar-nav .active .nav-link span {
    color: #fff; }
  @media screen and (min-width: 1200px) {
    .navbar-light .navbar-nav .nav-link {
      padding: .75em 1em; } }

.dropdown-toggle:after {
  z-index: 1000;
  position: relative; }

.dropdown-toggle:hover:after {
  border-top-color: #fff; }

.dropdown-item {
  text-transform: uppercase; }

.select-lang {
  padding-left: .5em;
  padding-top: .5em; }
  .select-lang .btn {
    border-color: #ededed;
    background-color: #fff;
    color: #000;
    border-radius: 0; }
  .select-lang .dropdown-toggle:hover:after {
    border-top-color: #000; }

@media screen and (min-width: 992px) {
  .select-lang {
    padding-top: .5em; }
    .select-lang .dropdown-menu {
      left: .5em; }
  .bg-light .navbar-nav {
    padding-bottom: 0; } }

.dropdown-menu {
  color: #fff;
  border: 1px solid purple;
  background-color: purple;
  border-radius: 0; }

.dropdown-item {
  color: #fff; }
  .dropdown-item:hover {
    color: #fff;
    background-color: #1ABC90; }

.footer {
  position: relative;
  z-index: 1010; }
  .footer a {
    color: #000;
    transition: all .3s ease; }
    .footer a:hover {
      color: #fff;
      text-decoration: none; }
  .footer .cell {
    padding-left: 15px;
    padding-right: 15px; }
  .footer h6 {
    padding-bottom: .25rem; }
  @media (min-width: 768px) {
    .footer h6 {
      padding-bottom: .5rem; } }
  .footer .form-control {
    border: 0; }

.bg-footer {
  background-color: #F9B81F;
  background-image: url("../assets/bg-footer.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative; }
  .bg-footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F9B81F;
    opacity: .92; }

.market {
  background-image: url("../assets/market_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: #fff; }
  .market:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.16)); }
  .market_info {
    padding: 2em 1em;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1000; }

.chart-wrapper {
  flex-grow: 1; }

canvas {
  position: absolute;
  top: 0; }

.item {
  background-color: #f1f1f1;
  position: relative;
  border-top: 4px solid transparent;
  padding: 1em;
  margin-bottom: 1em;
  transition: all .5s ease; }
  .item > * {
    padding-bottom: 1em; }
  .item:hover {
    background-color: #f9f9f9; }
  .item_status {
    position: absolute;
    padding: 0.5em 1.5em;
    right: 0;
    top: 0;
    font-weight: 500; }
  .item_price span {
    font-weight: 500; }
  .item_info {
    display: flex;
    align-items: baseline; }
    .item_info span {
      vertical-align: middle; }
  .item_quantity {
    font-style: italic; }
    .item_quantity span {
      font-weight: 500; }
  .item_owner {
    font-weight: 500;
    padding-right: 1.5em; }
  .item_label {
    padding: 0 .5em;
    font-size: .8em;
    color: #fff; }

.list-items {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .list-items.sell .item {
    border-top-color: #fbc02d; }
    .list-items.sell .item_status {
      background-color: #fbc02d; }
      .list-items.sell .item_status a {
        color: #033C93; }
    .list-items.sell .item_label {
      background-color: #4CB500; }
  .list-items.buy .item {
    border-top-color: #033C93; }
    .list-items.buy .item_status {
      background-color: #033C93; }
      .list-items.buy .item_status a {
        color: #fff; }
    .list-items.buy .item_label {
      background-color: #4CB500; }

span.currency {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../assets/icon_bitcoin.png");
  background-size: 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 1em; }

.box-chat {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  background-color: purple;
  box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.5);
  z-index: 10000;
  border-radius: 50%;
  cursor: pointer; }
