// LAYOUT
html,body,.wrapper{
    height: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
}
.main-content{
    flex: 1;
}
@media (max-width: 575px){
    .px-xs-0{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
@media (max-width: 767px){
    .px-sm-0{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
.px-15{
    padding-left: 15px;
    padding-right: 15px;
}
.img-small{
    max-width: 225px;
}
.border {
    border: 1px solid #ced4da !important;
}
.info-wrapper{
    border-radius: 4px;
    background: linear-gradient(-135deg, #95B0B5 50%, #4F7C84);
}
.max-300{
    max-width: 300px;
}
// NAVBAR
.navbar{
    padding: 0;
    z-index: 1010;
}
.navbar-brand{
    min-width: 205px;
    padding: 45px;
    background-image: url('../assets/logo_new_en.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.navbar-light{
    .navbar-nav{
        padding-bottom: 1em;
        .nav-link{
            text-transform: uppercase;
            font-weight: 400;
            font-size: 14px;
            color: $black;
            padding: .75em .5em;
            position: relative;
            &:hover{
                color: $black;
                &:before{
                    transform: scaleX(1);
                    opacity: 1;
                    transition: all .3s ease;
                }
                span{
                    color: $white;
                    transition: all .2s ease;
                    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
                }
            }
            &:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $green;
                top: 0;
                left: 0;
                transform: scaleX(0);
                opacity: 0;
                transform-origin: left top;
                transition: all .2s ease;
            }
            @media screen and (min-width: 992px){
                &:before{
                    transform-origin: center top;
                }
            }
            span{
                position: relative;
                display: inline-block;
                text-align: center;
            }
        }
        @media (min-width: 768px){
            .nav-link{
                font-size: 16px;
            }
        }
        @media (min-width: 992px){
            .nav-link{
                font-size: 18px;
            }
        }
        .active{
            .nav-link{
                &:before{
                    transform: scaleX(1);
                    opacity: 1;
                }
                span{
                    color: $white
                }
            }
        }
        @media screen and (min-width: 1200px){
            .nav-link{
                padding: .75em 1em;
            }
        }
    }
}
.dropdown-toggle{
    &:after{
        z-index: 1000;
        position: relative;
    }
    &:hover{
        &:after{
            border-top-color: $white;
        }
    }
}
.dropdown-item{
    text-transform: uppercase;
}
.select-lang{
    padding-left: .5em;
    padding-top: .5em;
    .btn{
        border-color: $border;
        background-color: #fff;
        color: $black;
        border-radius: 0;
    }
    .dropdown-toggle{
        &:hover{
            &:after{
                border-top-color: $black;
            }
        }
    }
}

@media screen and (min-width: 992px){
    .select-lang{
        padding-top: .5em;
        .dropdown-menu{
            left: .5em;
        }
    }
    .bg-light{
        .navbar-nav{
            padding-bottom: 0;
        }
    }
}

.dropdown-menu {
    color: $white;
    border: 1px solid $purple;
    background-color: $purple;
    border-radius: 0;
}
.dropdown-item {
    color: $white;
    &:hover{
        color: $white;
        background-color: $green;
    }
}

// END NAVBAR


// FOOTER
.footer{
    position: relative;
    z-index: 1010;
    a{
        color: $black;
        transition: all .3s ease;
        &:hover{
            color: $white;
            text-decoration: none;
        }
    }
    .cell{
        padding-left: 15px;
        padding-right: 15px;
    }
    h6{
        padding-bottom: .25rem;
    }
    @media (min-width: 768px){
        h6{
            padding-bottom: .5rem;
        }
    }
    .form-control{
        border: 0;
    }
}
.bg-footer{
    background: {
        color: $yellow-bg-footer;
        image: url('../assets/bg-footer.jpg');
        size: cover;
        position: center;
        attachment: fixed;
        repeat: no-repeat;
    }
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #F9B81F;
        opacity: .92;
    }
}
// END FOOTER

//END LAYOUT

//MARKET INFO SECTION
.market{
    background-image: url('../assets/market_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: $white;
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 900;
        background: linear-gradient(180deg,rgba($black,.03),rgba($black,.16));
    }
    &_info{
        padding: 2em 1em;
        background-color: rgba($white,.15);
        box-shadow: 1px 1px 3px rgba($black,.15);
        position: relative;
        z-index: 1000;
    }
}
.chart-wrapper{
    flex-grow: 1;
}
//END MARKET INFO SECTION

//PARTICLES JS
canvas{
    position: absolute;;
    top: 0;
}

// END PARTICLES JS

// LIST ITEMS
.item{
    background-color: $gray;
    position: relative;
    border-top: 4px solid transparent;
    padding: 1em;
    margin-bottom: 1em;
    transition: all .5s ease;
    &>*{
        padding-bottom: 1em;
    }
    &:hover{
        background-color: lighten($gray,3%);
    }
    &_status{
        position: absolute;
        padding: 0.5em 1.5em;
        right: 0;
        top: 0;
        font-weight: 500;
    }
    &_price{
        span{
            font-weight: 500;
        }
    }
    &_info{
        display: flex;
        align-items: baseline;
        span{
            vertical-align: middle;
        }
    }
    &_quantity{
        font-style: italic;
        span{
            font-weight: 500;
        }
    }
    &_owner{
        font-weight: 500;
        padding-right: 1.5em;
    }
    &_label{
        padding: 0 .5em;
        font-size: .8em;
        color: $white;
    }
}
.list-items{
    list-style-type: none;
    margin: 0;
    padding: 0;
    &.sell{
        .item{
            border-top-color: $yellow;
            &_status{
                background-color: $yellow;
                a{
                    color: $darkblue;
                }
            }
            &_label{
                background-color: $lightgreen;
            }
        }
    }
    &.buy{
        .item{
            border-top-color: $darkblue;
            &_status{
                background-color: $darkblue;
                a{
                    color: $white;
                }
            }
            &_label{
                background-color: $lightgreen;
            }
        }
    }
}

span.currency{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: {
        image: url('../assets/icon_bitcoin.png');
        size: 100%;
        repeat: no-repeat;
    }
    vertical-align: middle;
    margin-right: 1em;
}

// END LIST ITEMS

