extends ./layout.pug
block main-content
    .container-fluid.mt-5.bg-red
        .container
            .row
                .col.time-remaining.py-5.text-white.my-5.text-center
                    h3.font-bold Error
                    h4.font-bold Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus autem deserunt vero voluptate libero maxime quisquam. Facere impedit voluptatibus, id aut vitae odit illum. Ducimus laboriosam labore numquam voluptas expedita?
block script-append
    script.
        $(function(){
        });