extends ./layout.pug

block main-content
    .container.my-5
        .row
            .col
                #accordionFAQ.accordion
                    .card
                        #headingOne.card-header
                            h5.mb-0
                                button.btn.btn-link(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") About COINSEX.ORG
                        #collapseOne.collapse(aria-labelledby="headingOne" data-parent="#accordionFAQ")        
                            .card-body
                                p
                                    b COINSEX 
                                    | is a public social organization network, we build a marketplace about cryptocurrencies for all people around the world. We provides escrowed P2P Bitcoin marketplace where people buy and sell Bitcoin easily and safely, friendly online customer support 24/7 and lowest fee compared with major players on the market. Our team is comprised mostly by banking professionals with extensive experience in financial products, E-currencies, Payment System and Software Development.
                                p Currently, it has service in many countries including Vietnam, Cambodia, Malaysia, China,… and is growing everyday.
                                p If you'd like to get in touch with us, you can contact us at 
                                    a(href="mailto:info@coinsex.org") info@COINSEX.org
                                p or existing users requiring support and having specific questions about the platform, you can contact us at 
                                    a(href="mailto:support@coinsex.org") support@COINSEX.org
                    .card
                        #headingTwo.card-header
                            h5.mb-0
                                button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") How to register an account at COINSEX.ORG?
                        #collapseTwo.collapse(aria-labelledby="headingTwo" data-parent="#accordionFAQ")        
                            .card-body Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, ab.
                    .card
                        #headingThree.card-header
                            h5.mb-0
                                button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree") How to deposit/withdrawal VND to/from my account?
                        #collapseThree.collapse(aria-labelledby="headingThree" data-parent="#accordionFAQ")        
                            .card-body Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, ab.
                    .card
                        #headingFour.card-header
                            h5.mb-0
                                button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour") How to deposit/transfer BTC to/from my account?
                        #collapseFour.collapse(aria-labelledby="headingFour" data-parent="#accordionFAQ")        
                            .card-body Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, ab.
                    .card
                        #headingFive.card-header
                            h5.mb-0
                                button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive") How to place order BUY/SELL?
                        #collapseFive.collapse(aria-labelledby="headingFive" data-parent="#accordionFAQ")        
                            .card-body Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, ab.
                    .card
                        #headingTwo.card-header
                            h5.mb-0
                                button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix") What is Bitcoin (BTC)?
                        #collapseSix.collapse(aria-labelledby="headingSix" data-parent="#accordionFAQ")        
                            .card-body Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, ab.
                    .card
                        #headingTwo.card-header
                            h5.mb-0
                                button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven") What is Ethereum (ETH)?
                        #collapseSeven.collapse(aria-labelledby="headingSeven" data-parent="#accordionFAQ")        
                            .card-body Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, ab.
