<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Layout
        //- Font Awesome
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        //- Datatable
        link(href="../css/addons/datatables.min.css" rel="stylesheet")
        //- Owl Carousel
        link(href="../css/owl.carousel.min.css" rel="stylesheet")
        link(href="../css/owl.theme.default.min.css" rel="stylesheet")
        //- Bootstrap core CSS
        link(href="../css/bootstrap.min.css" rel="stylesheet")
        //- Custom style
        link(href="../css/coinsex.css" rel="stylesheet")
    body
        .wrapper
            .container-fluid.p-0
                .navbar.navbar-expand-lg.navbar-light.bg-light
                    .container
                        a.navbar-brand(href="./index.html")
                        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                            span.navbar-toggler-icon

                        .collapse.navbar-collapse#navbarSupportedContent
                            ul.navbar-nav.ml-auto
                                li.nav-item.dropdown
                                    a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
                                        span BTC
                                    .dropdown-menu(aria-labelledby="navbarDropdown")
                                        a.dropdown-item(href="./buysellbtc.html") Buy sell BTC
                                li.nav-item.active
                                    a.nav-link(href="#") 
                                        span ETH
                                li.nav-item
                                    a.nav-link(href="#") 
                                        span DASH
                                li.nav-item
                                    a.nav-link(href="balance.html") 
                                        span Wallet
                                li.nav-item
                                    a.nav-link(href="orders.html") 
                                        span Orders
                                li.nav-item
                                    a.nav-link(href="#" data-toggle="modal" data-target="#modalLogin") 
                                        span Login
                                li.nav-item
                                    a.nav-link(href="#" data-toggle="modal" data-target="#modalRegister") 
                                        span Register
                                .dropdown.select-lang
                                    button.btn.dropdown-toggle(type="button" id="dropdownLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Dropdown
                                    .dropdown-menu(aria-labelledby="dropdownLang")
                                        button.dropdown-item(type="button") English
                                        button.dropdown-item(type="button") Combodia
                                        button.dropdown-item(type="button") Vietnamese
                        
                            
            main.main-content    
                block main-content

                
                .container
                    .row
                        .col
                            //- Register modal
                            #modalRegister.modal.modal-register.fade(tabindex="-1" role="dialog" aria-labelledby="modalRegisterTitle" aria-hidden="true")
                                .modal-dialog.modal-dialog-centered(role="document")
                                    .modal-content
                                        .modal-header
                                            h5#modalRegisterTitle.modal-title.text-uppercase.font-bold.w-100.text-center Register Coinsex System
                                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                                span(aria-hidden="true") &times;
                                        .modal-body
                                            form#frmRegister.row(action="#" novalidate).needs-validation
                                                .col-md-6.mx-auto
                                                    .form-group
                                                        label.font-bold Username
                                                        input.form-control(type="text" placeholder="Type your username" required)
                                                        .invalid-feedback Please input your name
                                                    .form-group
                                                        label.font-bold Alias
                                                        input.form-control(type="text" placeholder="Type your alias" required)
                                                        .invalid-feedback Please input your alias
                                                    .form-group
                                                        label.font-bold Email
                                                        input.form-control(type="email" placeholder="Type your email" required)
                                                        .invalid-feedback Please input email
                                                .col-md-6.mx-auto
                                                    .form-group
                                                        label.font-bold Password
                                                        input.form-control(type="password" placeholder="Type your password" required)
                                                        .invalid-feedback Please input password
                                                    .form-group
                                                        label.font-bold Confirm password
                                                        input.form-control(type="password" placeholder="Retype your password" required)
                                                        .invalid-feedback Please confirm password
                                                    .form-group
                                                        label.font-bold Reference code
                                                        input.form-control(type="text" placeholder="Reference code" required)
                                                        .invalid-feedback Please input reference code
                                                .col-md-12
                                                    .form-group.form-check
                                                        input.form-check-input#checkPolicy(type="checkbox" required)
                                                        label.form-check-label(for="checkPolicy") I agreed to all policies, terms and conditions
                                                        .invalid-feedback You must agree before submitting.
                                                    .text-center
                                                        button.btn.btn-confirm(type="submit") Register
                                            .modal-footer
                                                .mx-auto Already have an account? 
                                                    a(href="#" data-toggle="modal" data-dismiss="modal" data-target="#modalLogin") Login
                    .row
                        .col
                            //- Login modal
                            #modalLogin.modal.modal-register.fade(tabindex="-1" role="dialog" aria-labelledby="modalLoginTitle" aria-hidden="true")
                                .modal-dialog.modal-dialog-centered(role="document")
                                    .modal-content
                                        .modal-header
                                            h5#modalLoginTitle.modal-title.text-uppercase.font-bold.w-100.text-center Login Coinsex System
                                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                                span(aria-hidden="true") &times;
                                        .modal-body
                                            form#frmLogin.row(action="#" novalidate).needs-validation
                                                .col-md-10.mx-auto
                                                    .form-group
                                                        label.font-bold Email
                                                        input.form-control(type="email" placeholder="Type your email" required)
                                                        .invalid-feedback Please input email
                                                    .form-group
                                                        label.font-bold Password
                                                        input.form-control(type="password" placeholder="Type your password" required)
                                                        .invalid-feedback Please input password
                                                    .form-group
                                                        label.font-bold 2FACode
                                                        input.form-control(type="text" placeholder="Enter 2FA Code (Only if you enable 2FA)" required)
                                                        .invalid-feedback Please input 2FA Code
                                                    .form-group.text-right
                                                        a(href="#" data-toggle="modal" data-dismiss="modal" data-target="#modalForgotPass") Forgot password
                                                    .text-center
                                                        //- button.btn.btn-confirm(type="submit") Login
                                                        a(href="./setting_personal.html")
                                                            button.btn.btn-confirm(type="button") Login
                                            .modal-footer
                                                .mx-auto Do not have account? 
                                                    a(href="#" data-toggle="modal" data-dismiss="modal" data-target="#modalRegister") Register    
                    .row
                        .col
                            //- Forgot pass modal
                            #modalForgotPass.modal.modal-register.fade(tabindex="-1" role="dialog" aria-labelledby="modalForgotPassTitle" aria-hidden="true")
                                .modal-dialog.modal-dialog-centered(role="document")
                                    .modal-content
                                        .modal-header
                                            h5#modalForgotPassTitle.modal-title.text-uppercase.font-bold.w-100.text-center Lost password
                                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                                span(aria-hidden="true") &times;
                                        .modal-body
                                            form#frmRegister.row(action="#" novalidate).needs-validation
                                                .col-md-10.mx-auto
                                                    p Follow these simple steps to reset your account:
                                                    p 1. Enter your registered an email at COINSEX.ORG
                                                    p 2. Wait for your recovery details to be sent to your registered email
                                                    p 3. Follow instruction and be re-united with your COINSEX.ORG account
                                                    .form-group
                                                        label.font-bold Email
                                                        input.form-control(type="email" placeholder="Type your email" required)
                                                        .invalid-feedback Please input email
                                                    .text-center
                                                        button.btn.btn-confirm(type="submit") Confirm
                                            .modal-footer
                                                .mx-auto Recalled password? 
                                                    a(href="#" data-toggle="modal" data-dismiss="modal" data-target="#modalLogin") Login    
            .container-fluid.bg-footer.py-4
                .container.footer.py-4
                    .row.justify-content-between
                        .cell
                            h6.font-bold.pt-2 MARKET BITCOIN COINSEX
                            .pb-2 
                                i.fas.fa-envelope.pr-1
                                |Email: 
                                a(href="mailto:team@coinsex.com") team@coinsex.com
                            .pb-4
                                i.fas.fa-comments.pr-1
                                a(href="#") Online support
                        .cell
                            h6.font-bold.pt-2 FOR CLIENTS
                            .pb-2
                                i.fas.fa-question-circle.pr-1
                                a(href="./faq.html") Frequently Asked Questions
                            .pb-4
                                i.fas.fa-chevron-circle-right.pr-1
                                a(href="./policy_term.html") Policies and Terms
                        .cell
                            h6.font-bold.pt-2 SOCIAL MEDIA
                            .pb-2
                                i.fab.fa-facebook-square.pr-1
                                a(href="#") Facebook
                            .pb-4
                                i.fab.fa-telegram.pr-1
                                a(href="#") Telegram
                        .cell
                            h6.font-bold.pt-2 SIGN UP FOR THE NEWSLETTER
                            .pb-2
                                |Please register to receive latest news from 
                                b COINSEX.ORG
                            .input-group.mb-3
                                input.form-control(type="email" placeholder="Enter your mail" aria-label="Enter your mail" aria-describedby="button-addon2")
                                .input-group-append
                                    button.btn.btn-dark(type="button" id="button-addon2") Agree
            .container-fluid.bg-primary
                .container
                    .row
                        .col.py-2.text-white Designed by COINSEX.ORG. All rights reserved. © 2017
 

        script(src="../js/jquery-3.3.1.min.js")
        script(src="../js/jquery.min.js")
        script(src="../js/popper.min.js")
        script(src="../js/bootstrap.min.js")
        script(src="../js/addons/datatables.min.js")
        script(src="../js/owl.carousel.min.js")
        script(src="../js/main.js")
        script.
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                    var forms = document.getElementsByClassName('needs-validation');
                    var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                    });
                }, false);
            })();
        block script-append