<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Layout
        //- Font Awesome
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        //- Datatable
        link(href="../css/addons/datatables.min.css" rel="stylesheet")
        //- Bootstrap core CSS
        link(href="../css/bootstrap.min.css" rel="stylesheet")
        //- Custom style
        link(href="../css/coinsex.css" rel="stylesheet")
    body
        .wrapper
            .container-fluid.p-0
                .navbar.navbar-expand-lg.navbar-light.bg-light
                    .container
                        a.navbar-brand(href="./index.html")
                        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                            span.navbar-toggler-icon

                        .collapse.navbar-collapse#navbarSupportedContent
                            ul.navbar-nav.ml-auto
                                li.nav-item.dropdown
                                    a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
                                        span BTC
                                    .dropdown-menu(aria-labelledby="navbarDropdown")
                                        a.dropdown-item(href="./buysellbtc.html") Buy sell BTC
                                li.nav-item.active
                                    a.nav-link(href="#") 
                                        span ETH
                                li.nav-item
                                    a.nav-link(href="#") 
                                        span DASH
                                li.nav-item
                                    a.nav-link(href="balance.html") 
                                        span Wallet
                                li.nav-item
                                    a.nav-link(href="orders.html") 
                                        span Orders
                                li.nav-item.dropdown
                                    a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
                                        span ann696
                                    .dropdown-menu(aria-labelledby="navbarDropdown")
                                        a.dropdown-item(href="./setting_personal.html") My profile
                                        a.dropdown-item(href="./index.html") Log out
                                .dropdown.select-lang
                                    button.btn.dropdown-toggle(type="button" id="dropdownLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Dropdown
                                    .dropdown-menu(aria-labelledby="dropdownLang")
                                        button.dropdown-item(type="button") English
                                        button.dropdown-item(type="button") Combodia
                                        button.dropdown-item(type="button") Vietnamese
                        
                            
            main.main-content    
                block main-content
                
        script(src="../js/jquery-3.3.1.min.js")
        script(src="../js/popper.min.js")
        script(src="../js/bootstrap.min.js")
        script(src="../js/addons/datatables.min.js")
        script(src="../js/main.js")
        block script-append