<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Layout
        //- Font Awesome
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        //- Datatable
        link(href="../css/addons/datatables.min.css" rel="stylesheet")
        //- Bootstrap core CSS
        link(href="../css/bootstrap.min.css" rel="stylesheet")
        //- Custom style
        link(href="../css/coinsex.css" rel="stylesheet")
    body
        .wrapper
            .container-fluid.p-0
                .navbar.navbar-expand-lg.navbar-light.bg-light
                    .container
                        a.navbar-brand(href="./index.html")
                        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                            span.navbar-toggler-icon

                        .collapse.navbar-collapse#navbarSupportedContent
                            ul.navbar-nav.ml-auto
                                li.nav-item.dropdown
                                    a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
                                        span BTC
                                    .dropdown-menu(aria-labelledby="navbarDropdown")
                                        a.dropdown-item(href="#") Buy sell BTC
                                li.nav-item.active
                                    a.nav-link(href="#") 
                                        span ETH
                                li.nav-item
                                    a.nav-link(href="#") 
                                        span DASH
                                li.nav-item
                                    a.nav-link(href="balance.html") 
                                        span Wallet
                                li.nav-item
                                    a.nav-link(href="orders.html") 
                                        span Orders
                                li.nav-item
                                    a.nav-link(href="#") 
                                        span Login
                                li.nav-item
                                    a.nav-link(href="#") 
                                        span Register
                                .dropdown.select-lang
                                    button.btn.dropdown-toggle(type="button" id="dropdownLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Dropdown
                                    .dropdown-menu(aria-labelledby="dropdownLang")
                                        button.dropdown-item(type="button") English
                                        button.dropdown-item(type="button") Combodia
                                        button.dropdown-item(type="button") Vietnamese
                        
                            
            main.main-content    
                block main-content

            .container-fluid.bg-footer.py-4
                .container.footer.py-4
                    .row.justify-content-between
                        .cell
                            h6.font-bold.pt-2 MARKET BITCOIN COINSEX
                            .pb-2 
                                i.fas.fa-envelope.pr-1
                                |Email: 
                                a(href="mailto:team@coinsex.com") team@coinsex.com
                            .pb-4
                                i.fas.fa-comments.pr-1
                                a(href="#") Online support
                        .cell
                            h6.font-bold.pt-2 FOR CLIENTS
                            .pb-2
                                i.fas.fa-question-circle.pr-1
                                a(href="#") Frequently Asked Questions
                            .pb-4
                                i.fas.fa-chevron-circle-right.pr-1
                                a(href="#") Policies and Terms
                        .cell
                            h6.font-bold.pt-2 SOCIAL MEDIA
                            .pb-2
                                i.fab.fa-facebook-square.pr-1
                                a(href="#") Facebook
                            .pb-4
                                i.fab.fa-telegram.pr-1
                                a(href="#") Telegram
                        .cell
                            h6.font-bold.pt-2 SIGN UP FOR THE NEWSLETTER
                            .pb-2
                                |Please register to receive latest news from 
                                b COINSEX.ORG
                            .input-group.mb-3
                                input.form-control(type="email" placeholder="Enter your mail" aria-label="Enter your mail" aria-describedby="button-addon2")
                                .input-group-append
                                    button.btn.btn-dark(type="button" id="button-addon2") Agree
            .container-fluid.bg-primary
                .container
                    .row
                        .col.py-2.text-white Designed by COINSEX.ORG. All rights reserved. © 2017
 

        script(src="../js/jquery-3.3.1.min.js")
        script(src="../js/popper.min.js")
        script(src="../js/bootstrap.min.js")
        script(src="../js/addons/datatables.min.js")
        script(src="../js/main.js")
        block script-append