extends ./dashboard.pug
block content
    .container.mt-5
        .col
            form#frmResetPassword.row(action="#")
                .col-md-6.mx-auto
                    .form-group
                        label Current password
                        input.form-control(type="password")
                    .form-group
                        label New password
                        input.form-control(type="password")
                    .form-group
                        label Confirm password
                        input.form-control(type="password")
                    .text-right
                        button.btn.btn-confirm(type="button") Change password
    