// Material colors
$purple:        purple;
$yellow:      #fbc02d;
$yellow-bg-footer: #F9B81F;
$darkblue: #033C93;
$cyan: #1E9FF2;
$oceanblue: #36c6d3;
$red: #FF2A00;
$grey: #737373;
$amber: #ffa000;
$darkgreen: #005249;

// Dropdown item hover
$green: #1ABC90;
$lightgreen: #4CB500;

$black: #000;
$white: #fff;

$border: #ededed;
$border-info: #a1a1a1;

$gray: #f1f1f1;

// Info
$info-header: #40A2C2;
$info-content: #E6F4F1;
$info-arrow: #4F7C84;

// Form
$form-header: $yellow;
$form-content: $border;
$form-button: $amber;

//User
$user-alias: #fbae1c;
$font-sidebar: #a1a1a1;

//Button
$btn-orange: #f80;
$btn-red: #ff3547;
$btn-purple: #a6c;
$btn-ocean: #33b5e5;
$btn-blue: #4285F4;
$btn-green: #00C851;
$btn-yellow: #fbc02d;
$btn-amber: $amber;

$material-colors: () !default;
$material-colors: map-merge((
  "bg-primary":        $purple,
  "bg-secondary":      $yellow,
  "bg-footer": $yellow-bg-footer,
  "bg-light": $white,
  "bg-dark": $darkblue
), $material-colors);

@each $color_name, $color in $material-colors {
  .#{$color_name} {
    background-color: $color !important;
  }
}

$text-colors: () !default;
$text-colors: map-merge((
  "text-blue": $darkblue,
  "text-ocean": $oceanblue,
  "text-red": $red,
  "text-yellow": $yellow,
  "text-cyan": $cyan,
  "text-green": $green,
  "text-grey": $grey
), $text-colors );

@each $color_name, $color in $text-colors {
  .#{$color_name} {
    color: $color !important;
  }
}

$link-colors: () !default;
$link-colors: map-merge((
  "link-withdraw": $red,
  "link-deposit": $green
), $link-colors );

@each $color_name, $color in $link-colors {
  .#{$color_name} {
    color: $color !important;
  }
}