@mixin transition($time: 0.3s,$function-timing: ease,$property: all) {
    transition: $property $time $function-timing;
    -webkit-transition: $property $time $function-timing;
    -moz-transition: $property $time $function-timing;;
    -o-transition: $property $time $function-timing;
}