<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Layout</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
    <link href="../css/addons/datatables.min.css" rel="stylesheet"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/coinsex.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="wrapper">
      <div class="container-fluid p-0">
        <div class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container"><a class="navbar-brand" href="./index.html"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span>BTC</span></a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="./buysellbtc.html">Buy sell BTC</a></div>
                </li>
                <li class="nav-item active"><a class="nav-link" href="#"> <span>ETH</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#"> <span>DASH</span></a></li>
                <li class="nav-item"><a class="nav-link" href="balance.html"> <span>Wallet</span></a></li>
                <li class="nav-item"><a class="nav-link" href="orders.html"> <span>Orders</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#modalLogin"> <span>Login</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#modalRegister"> <span>Register</span></a></li>
                <div class="dropdown select-lang">
                  <button class="btn dropdown-toggle" type="button" id="dropdownLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownLang">
                    <button class="dropdown-item" type="button">English</button>
                    <button class="dropdown-item" type="button">Combodia</button>
                    <button class="dropdown-item" type="button">Vietnamese</button>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <main class="main-content">   
        <div class="container-fluid mt-5">
          <div class="container">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link active text-uppercase" data-toggle="tab" href="#buyNow">Buy now</a></li>
              <li class="nav-item"><a class="nav-link text-uppercase" data-toggle="tab" href="#sellNow">Sell now</a></li>
            </ul>
            <div class="tab-content">
              <div class="container tab-pane active px-3 py-4" id="buyNow">
                <form class="form" id="frmBuyNow" action="#">
                  <div class="row">
                    <div class="col-md-7 d-flex flex-column">
                      <div class="row px-15">
                        <div class="col form_header">
                          <h5 class="title-5 text-uppercase mb-0">Price (in VND)</h5>
                        </div>
                      </div>
                      <div class="row px-15 flex-grow-1">
                        <div class="col form_content pt-4">
                          <div class="row form-group">
                            <div class="col-sm-6 d-flex align-items-center">
                              <label>USDVND (Buyer can adjust)</label>
                            </div>
                            <div class="col-sm-6">
                              <input class="form-control" type="text"/>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-6 d-flex align-items-center">
                              <label>Price of BTC (buyer pay)</label>
                            </div>
                            <div class="col-sm-6">
                              <input class="form-control" type="text" disabled="disabled"/>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-6 d-flex align-items-center">
                              <label>Price of BTC (seller receive)</label>
                            </div>
                            <div class="col-sm-6">
                              <input class="form-control" type="text" disabled="disabled"/>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-6 d-flex align-items-center">
                              <label>TRADING DESK (references)</label>
                            </div>
                            <div class="col-sm-6">
                              <select class="form-control custom-select">
                                <option value="bitstamp">Bitstamp</option>
                                <option value="bitfinex">Bitfinex</option>
                              </select>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-6 d-flex align-items-center">
                              <label>Best BID (highest BID price)</label>
                            </div>
                            <div class="col-sm-6">
                              <input class="form-control" type="text"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 d-flex flex-column">
                      <div class="row px-15">
                        <div class="col form_header">
                          <h5 class="title-5 text-uppercase mb-0">Limit</h5>
                        </div>
                      </div>
                      <div class="row px-15 flex-grow-1">
                        <div class="col form_content pt-4">
                          <div class="row form-group">
                            <div class="col-sm-6 d-flex align-items-center">
                              <label>Min BTC amount</label>
                            </div>
                            <div class="col-sm-6">
                              <input class="form-control" type="text"/>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-6 d-flex align-items-center">
                              <label>Max BTC amount</label>
                            </div>
                            <div class="col-sm-6">
                              <input class="form-control" type="text"/>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-6 d-flex align-items-center">
                              <label>Clearing Bank</label>
                            </div>
                            <div class="col-sm-6">
                              <select class="form-control custom-select">
                                <option value="vcb">Vietcombank</option>
                                <option value="vpb">VPBank</option>
                                <option value="msb">Maritime bank</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group text-center mt-5">
                            <button class="btn btn-order text-uppercase" type="Submit">Create buy order</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="container tab-pane fade px-3 py-4" id="sellNow">
                <form class="form" id="frmSellNow" action="#">
                  <div class="row">
                    <div class="col-md-7 d-flex flex-column">
                      <div class="row px-15">
                        <div class="col form_header">
                          <h5 class="title-5 text-uppercase mb-0">Price (in VND)</h5>
                        </div>
                      </div>
                      <div class="row px-15 flex-grow-1">
                        <div class="col form_content pt-4">
                          <div class="row form-group">
                            <div class="col-sm-6 d-flex align-items-center">
                              <label>USDVND (Buyer can adjust)</label>
                            </div>
                            <div class="col-sm-6">
                              <input class="form-control" type="text"/>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-6 d-flex align-items-center">
                              <label>Price of BTC (buyer pay)</label>
                            </div>
                            <div class="col-sm-6">
                              <input class="form-control" type="text" disabled="disabled"/>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-6 d-flex align-items-center">
                              <label>Price of BTC (seller receive)</label>
                            </div>
                            <div class="col-sm-6">
                              <input class="form-control" type="text" disabled="disabled"/>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-6 d-flex align-items-center">
                              <label>TRADING DESK (references)</label>
                            </div>
                            <div class="col-sm-6">
                              <select class="form-control custom-select">
                                <option value="bitstamp">Bitstamp</option>
                                <option value="bitfinex">Bitfinex</option>
                              </select>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-6 d-flex align-items-center">
                              <label>Best BID (highest BID price)</label>
                            </div>
                            <div class="col-sm-6">
                              <input class="form-control" type="text"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 d-flex flex-column">
                      <div class="row px-15">
                        <div class="col form_header">
                          <h5 class="title-5 text-uppercase mb-0">Limit</h5>
                        </div>
                      </div>
                      <div class="row px-15 flex-grow-1">
                        <div class="col form_content pt-4">
                          <div class="row form-group">
                            <div class="col-sm-6 d-flex align-items-center">
                              <label>Min BTC amount</label>
                            </div>
                            <div class="col-sm-6">
                              <input class="form-control" type="text"/>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-6 d-flex align-items-center">
                              <label>Max BTC amount</label>
                            </div>
                            <div class="col-sm-6">
                              <input class="form-control" type="text"/>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-6 d-flex align-items-center">
                              <label>Clearing Bank</label>
                            </div>
                            <div class="col-sm-6">
                              <select class="form-control custom-select">
                                <option value="vcb">Vietcombank</option>
                                <option value="vpb">VPBank</option>
                                <option value="msb">Maritime bank</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group text-center mt-5">
                            <button class="btn btn-order text-uppercase" type="Submit">Create sell order</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="modal modal-register fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="modalRegisterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-uppercase font-bold w-100 text-center" id="modalRegisterTitle">Register Coinsex System</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <form class="row needs-validation" id="frmRegister" action="#" novalidate="novalidate">
                        <div class="col-md-6 mx-auto">
                          <div class="form-group">
                            <label class="font-bold">Username</label>
                            <input class="form-control" type="text" placeholder="Type your username" required="required"/>
                            <div class="invalid-feedback">Please input your name</div>
                          </div>
                          <div class="form-group">
                            <label class="font-bold">Alias</label>
                            <input class="form-control" type="text" placeholder="Type your alias" required="required"/>
                            <div class="invalid-feedback">Please input your alias</div>
                          </div>
                          <div class="form-group">
                            <label class="font-bold">Email</label>
                            <input class="form-control" type="email" placeholder="Type your email" required="required"/>
                            <div class="invalid-feedback">Please input email</div>
                          </div>
                        </div>
                        <div class="col-md-6 mx-auto">
                          <div class="form-group">
                            <label class="font-bold">Password</label>
                            <input class="form-control" type="password" placeholder="Type your password" required="required"/>
                            <div class="invalid-feedback">Please input password</div>
                          </div>
                          <div class="form-group">
                            <label class="font-bold">Confirm password</label>
                            <input class="form-control" type="password" placeholder="Retype your password" required="required"/>
                            <div class="invalid-feedback">Please confirm password</div>
                          </div>
                          <div class="form-group">
                            <label class="font-bold">Reference code</label>
                            <input class="form-control" type="text" placeholder="Reference code" required="required"/>
                            <div class="invalid-feedback">Please input reference code</div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group form-check">
                            <input class="form-check-input" id="checkPolicy" type="checkbox" required="required"/>
                            <label class="form-check-label" for="checkPolicy">I agreed to all policies, terms and conditions</label>
                            <div class="invalid-feedback">You must agree before submitting.</div>
                          </div>
                          <div class="text-center">
                            <button class="btn btn-confirm" type="submit">Register</button>
                          </div>
                        </div>
                      </form>
                      <div class="modal-footer">
                        <div class="mx-auto">Already have an account? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#modalLogin">Login</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="modal modal-register fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-uppercase font-bold w-100 text-center" id="modalLoginTitle">Login Coinsex System</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <form class="row needs-validation" id="frmRegister" action="#" novalidate="novalidate">
                        <div class="col-md-10 mx-auto">
                          <div class="form-group">
                            <label class="font-bold">Email</label>
                            <input class="form-control" type="email" placeholder="Type your email" required="required"/>
                            <div class="invalid-feedback">Please input email</div>
                          </div>
                          <div class="form-group">
                            <label class="font-bold">Password</label>
                            <input class="form-control" type="password" placeholder="Type your password" required="required"/>
                            <div class="invalid-feedback">Please input password</div>
                          </div>
                          <div class="form-group">
                            <label class="font-bold">2FACode</label>
                            <input class="form-control" type="text" placeholder="Enter 2FA Code (Only if you enable 2FA)" required="required"/>
                            <div class="invalid-feedback">Please input 2FA Code</div>
                          </div>
                          <div class="form-group text-right"><a href="#" data-toggle="modal" data-dismiss="modal" data-target="#modalForgotPass">Forgot password</a></div>
                          <div class="text-center"><a class="btn btn-confirm" type="button" href="./setting_personal.html">Login</a></div>
                        </div>
                      </form>
                      <div class="modal-footer">
                        <div class="mx-auto">Do not have account? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#modalRegister">Register    </a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="modal modal-register fade" id="modalForgotPass" tabindex="-1" role="dialog" aria-labelledby="modalForgotPassTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-uppercase font-bold w-100 text-center" id="modalForgotPassTitle">Lost password</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <form class="row needs-validation" id="frmRegister" action="#" novalidate="novalidate">
                        <div class="col-md-10 mx-auto">
                          <p>Follow these simple steps to reset your account:</p>
                          <p>1. Enter your registered an email at COINSEX.ORG</p>
                          <p>2. Wait for your recovery details to be sent to your registered email</p>
                          <p>3. Follow instruction and be re-united with your COINSEX.ORG account</p>
                          <div class="form-group">
                            <label class="font-bold">Email</label>
                            <input class="form-control" type="email" placeholder="Type your email" required="required"/>
                            <div class="invalid-feedback">Please input email</div>
                          </div>
                          <div class="text-center">
                            <button class="btn btn-confirm" type="submit">Confirm</button>
                          </div>
                        </div>
                      </form>
                      <div class="modal-footer">
                        <div class="mx-auto">Recalled password? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#modalLogin">Login    </a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div class="container-fluid bg-footer py-4">
        <div class="container footer py-4">
          <div class="row justify-content-between">
            <div class="cell">
              <h6 class="font-bold pt-2">MARKET BITCOIN COINSEX</h6>
              <div class="pb-2"> <i class="fas fa-envelope pr-1"></i>Email: <a href="mailto:team@coinsex.com">team@coinsex.com</a></div>
              <div class="pb-4"><i class="fas fa-comments pr-1"></i><a href="#">Online support</a></div>
            </div>
            <div class="cell">
              <h6 class="font-bold pt-2">FOR CLIENTS</h6>
              <div class="pb-2"><i class="fas fa-question-circle pr-1"></i><a href="#">Frequently Asked Questions</a></div>
              <div class="pb-4"><i class="fas fa-chevron-circle-right pr-1"></i><a href="./policy_term.html">Policies and Terms</a></div>
            </div>
            <div class="cell">
              <h6 class="font-bold pt-2">SOCIAL MEDIA</h6>
              <div class="pb-2"><i class="fab fa-facebook-square pr-1"></i><a href="#">Facebook</a></div>
              <div class="pb-4"><i class="fab fa-telegram pr-1"></i><a href="#">Telegram</a></div>
            </div>
            <div class="cell">
              <h6 class="font-bold pt-2">SIGN UP FOR THE NEWSLETTER</h6>
              <div class="pb-2">Please register to receive latest news from <b>COINSEX.ORG</b></div>
              <div class="input-group mb-3">
                <input class="form-control" type="email" placeholder="Enter your mail" aria-label="Enter your mail" aria-describedby="button-addon2"/>
                <div class="input-group-append">
                  <button class="btn btn-dark" type="button" id="button-addon2">Agree</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bg-primary">
        <div class="container">
          <div class="row">
            <div class="col py-2 text-white">Designed by COINSEX.ORG. All rights reserved. © 2017</div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/addons/datatables.min.js"></script>
    <script src="../js/main.js"></script>
    <script>
      (function() {
          'use strict';
          window.addEventListener('load', function() {
              var forms = document.getElementsByClassName('needs-validation');
              var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                  }
                  form.classList.add('was-validated');
              }, false);
              });
          }, false);
      })();
    </script>
  </body>
</html>